@charset "UTF-8";

html, body {
	padding: 0;
	margin: 0;
	letter-spacing: 1.3px;
	font-weight: 300
}

* {
	box-sizing: border-box;
}

figure {
	margin: 0px;
	position: relative;
	height :240px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #2e2e2e
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#nav {
	width: 100%;
	padding: 15px 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#nav_logo {
	width: 33%;
	height: 100%;
	float: left;
	vertical-align: middle;
	padding-left: 20px;
	text-align: left;
}

#nav_menu_div {
	position: relative;
	width: 66%;
	float: left;
}

#nav_menu_ul {
	list-style: none;
}

#header {
	width: 100%;
	height: 730px;
	background-image:
		url('http://localhost:8787/Semi_Project_final/etc/image/img/img_bg_2.jpg');
	background-position: top center;
	background-size: cover;
	position: relative;
}

#extra {
	background: rgba(0, 0, 0, 0.5);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#extra_login {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	display: none;
}

#summary {
	padding-top: 15em;
	padding-bottom: 1em;
	z-index: 200;
}

#summary_info {
	max-width: 600px;
	padding: 3em 3em;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 2;
}

#summary_info h1 {
	letter-spacing: 0;
}

#summary_info_text {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 1.5em;
	box-sizing: border-box;
}

#member {
	padding-top: 20px;
}

#layer_popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 500px;
	background-color: #ffffff;
	color: #2e2e2e;
	text-align: left;
	padding: 2em;
	z-index: 6;
	clear: both;
}

#layer_popup>h1 {
	font-weight: 540;
	clear: both;
}

#login_btn {
	background-color: #222222;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

#account_info {
	text-align: cetner;
}

#reco_place_div {
	padding: 7em 0;
	max-width: 1100px;
	margin: 0px auto;
}

#reco_place {
	text-align: center
}

#introduce {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7em;
	padding: 0px 15px;
	position: relative;
}

#introduce>h2 {
	font-size: 50px;
	font-weight: 300;
}

#introduce>p {
	font-size: 20px;
}

#reco_place>h2 {
	font-size: 50px;
	font-weight: 300;
}

#reco_place>p {
	font-size: 20px;
	padding-bottom: 30px;
}

#reviews_div {
	text-align: center;
	max-width: 1100px;
	margin: 0px auto;
}

#review_detail {
	width: 100%;
	display: inline-block;
}

#footer {
	max-width: 1100px;
	margin: 0px auto;
}

#copyright {
	max-width: 1100px;
}

#reco_place_info {
	width: 100%;
	display: inline-block;
}

#copy_content {
	width: 100%;
	padding-right: 2em;
	float: left;
}

#copy_img_div {
	width: 50%;
	padding-right: 2em;
	text-align: right;
	float: left;
	width: 100px;
	height: 300px;
	background-color: white;
	position: fixed;
	right: 50px;
	top: 100px;
}

#mobile_bar {
	position: relative;
	float: right;
	display: none;
}

#mobile_bar:hover {
	cursor: pointer;
}

#mobile_bar.is-active .line:nth-child(2) {
	opacity: 0;
}

#mobile_bar.is-active .line:nth-child(1) {
	transform: translateY(13px) rotate(45deg);
}

#mobile_bar.is-active .line:nth-child(3) {
	transform: translateY(-13px) rotate(-45deg);
}

#mobile_account {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 30px;
}

#mobile_login {
	color: #6BEAEF;
	float: left;
	position: relative;
	z-index: 6;
	cursor: pointer;
}

#mobile_signup {
	color: #6BEAEF;
	float: left;
	position: relative;
	z-index: 6;
	cursor: pointer;
	padding-left: 0.5em;
}

#mobile_logout {
	color: #6BEAEF;
	float: left;
	position: relative;
	z-index: 6;
	cursor: pointer;
}

#mobile_profile {
	color: #6BEAEF;
	float: left;
	position: relative;
	z-index: 6;
	cursor: pointer;
	padding-left: 0.5em;
}

.nav_menu {
	display: inline-block;
	padding: 0px 10px;
	color: rgba(255, 255, 255, 0.7)
}

.alignment_right {
	text-align: right;
}

.white {
	color: #ffffff;
}

.border_radius_10 {
	border-radius: 10px;
	border: 1px solid rgba(180, 180, 180, 0.7);
}

.button_size_padding {
	padding: 14px 34px;
	margin-left: 1em;
}

.dropdown_menu {
	display: none;
	position: absolute;
	list-style: none;
	padding-left: 0px;
	margin-top: 10px;
}

li:hover .dropdown_menu {
	z-index: 2;
}

.dropdown_ele {
	padding: 0px 20px;
}

.fa-times {
	float: right;
	color: #2e2e2e;
}

.reco_img, .review_img {
	width: 33.3%;
	padding: 0px 15px;
	margin-bottom: 30px;
	position: relative;
	float: left;
	transform: 1s;
	transition: all 1s;
}

.reco_img img, .review_img img {
	max-width: 100%;
}

.explan {
	padding: 15px;
	letter-spacing: 1px;
	border: 1px solid rgb(220, 220, 220);
}

.img_border {
	height: 240px;
	overflow: hidden;
}

.review_img_data{
	width : 100%;
	height : 240px;
}

.reco_img:hover figure::after, .review_img:hover figure::after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
}

.reco_img:hover .fa-plus, .review_img:hover .fa-plus {
	top: 50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition-property: opacity, top;
	transition-duration: 1s, .7s;
}

.reco_img:hover>div, .review_img:hover>div {
	transform: translateY(-20px);
	transition: all 1s ease-in-out;
	box-shadow: 0px 4px 12px 0px #2e2e2e;
}

.reco_img:hover img, .review_img:hover img {
	transform: scale(1.15);
	transition: all 1.5s;
}

.reco_img:hover .more_btn, .review_img:hover .more_btn {
	opacity: 1;
	transition: all 1s;
}

.fa-plus {
	color: #ffffff;
	font-size: 40px;
	z-index: 10;
	position: absolute;
	top: 20%;
	opacity: 0;
}

.more_btn {
	padding: 14px 15px;
	border: 1px solid #2e2e2e;
	border-radius: 16px;
	background: #a3d3a5;
	opacity: 0.5;
}

.bx-wrapper, .bx_img {
	height: 300px;
}

.footer_ele>h3 {
	color: #222222;
	font-size: 1.8vw;
}

#foot_info {
	display: inline-block;
	border-bottom: 1px solid #f2f2f2;
	width: 100%;
}

.footer_ele {
	float: left;
	margin-right: 2.5em;
	margin-top: 7em;
	margin-bottom: 3em;
	margin-left: 0.5em;
	color: #777777;
	position: relative;
}

.foot_img_space {
	padding-right: 10px;
}

.foot_select>p, .foot_select>a {
	color: #09c6ab;
}

.copy_img {
	margin-top: 15px;
	margin-left: 10px;
	float: right;
	vertical-align: middle;
}

.copy_img>i {
	font-size: 30px;
	color: #09c6ab;
}

.line {
	width: 50px;
	height: 5px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	transition: all 0.3s ease-in-out;
}

.foot_dropdown_menu {
	list-style: none;
	padding-left: 0px;
	margin-top: 10px;
	position: relative;
	font-size: 1.6vw;
}

.plus {
	font-size: 14px;
	color: #222222;
	opacity: 1;
	position: absolute;
	top: 0;
	padding: 1.7em;
	cursor: pointer;
}

.minus {
	padding: 1.7em;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 0;
}

.mobile_plus {
	font-size: 14px;
	color: #222222;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.7em;
	cursor: pointer;
}

.mobile_minus {
	padding: 1.7em;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.mobile_right {
	font-size: 14px;
	color: #222222;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.7em;
	cursor: pointer;
}

/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
/* =========================반응형================================== */
@media ( min-width : 950px) {
	.foot_dropdown>h3 {
		font-size: 1.2rem;
	}
	.foot_dropdown_menu {
		font-size: 1rem;
	}
}

@media ( max-width : 850px) {
	.footer_ele {
		width: 300px;
	}
	.footer_ele>h3 {
		font-size: 1.2rem;
	}
	.foot_dropdown_menu {
		font-size: 1rem;
	}
	#foot_info {
		width: 100%;
	}
}

@media ( max-width : 650px) {
	.reco_img, .review_img {
		float: none;
		width: 100%;
		height: 100%;
	}
	.reco_img img, .review_img img {
		width: 100%;
		height: 100%;
	}
}

@media ( max-width : 710px) {
	#nav_div {
		display: none;
	}
	#mobile_bar {
		display: block;
		z-index: 6;
	}
	.reco_img, .review_img {
		float: none;
		width: 100%;
		height: 100%;
	}
	.reco_img img, .review_img img {
		width: 100%;
		height: 100%;
	}
	.img_border {
		height: 400px;
	}
	.foot_dropdown_menu {
		clear: both;
		display: none;
	}
	.footer_ele {
		float: left;
		width: 100%;
		padding-right: 1em;
		max-width: unset;
		margin: 0px;
		border-bottom: 1px solid #cacaca;
		background: #eaeaea;
	}
	.foot_dropdown_menu>li, .foot_dropdown>p {
		padding-left: 2rem;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.foot_dropdown>h3 {
		padding-left: 10px;
		float: left;
	}
	.plus {
		visibility: visible;
		float: right;
		right: 0;
	}
	.minus {
		visibility: hidden;
		float: right;
		right: 0;
	}
}